/src/gxmtest.c
/src/RandomHentaiBac.bak
/CMakeFiles
/.vscode
/.cmake
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json
/RandomHentai.suprx
/RandomHentai.velf
/texture_f_gxp.o
/texture_f.gxp
/texture_v_gxp.o
/texture_v.gxp
/build
/ScePafGraphics